.container {
  width: 75vw;
  height: 15rem;
  border-radius: 0.2rem;
  margin: 0 auto;
  background-color: #E7DECD;
  color: #804E49;
}

.location {
  font-size: 3rem;
  padding: 1rem 3rem;
}

.temp {
  font-size: 2rem;
  padding: 0rem 3rem;
}

.desc {
  font-size: 1.5rem;
  padding: 0rem 3rem;
  text-transform: capitalize;
}